* {
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

@keyframes main_in {
  from {top: -25%; opacity: 0;}
  to {top: 50%; opacity: 1;}
}

div.main {
  animation-name: main_in;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier();
	width: 800px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  margin-left: -400px;
  margin-top: -175px;
	text-align: center;
}

div.main div.head h2 {
  font-size: 25pt;
  margin-bottom: 15px;
}

div.main div.head {
  margin-top: 15px;
}

div.main img {
  display: block;
}

@keyframes float {
  from {-webkit-transform: translate3d(0, -4px, 0); transform:translate3d(0,-4px,0);}
  to {-webkit-transform:translate3d(0, 4px, 0); transform:translate3d(0, 4px, 0)};
}

@keyframes blend {
  from {opacity: 0.2;}
  to {opacity: 0.6;}
}

div.main #sad {
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: float;
  animation-timing-function: ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
  filter: invert(25%);
}

div.main #sad_s {
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: blend;
  animation-timing-function: ease-in-out;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-bottom: 10px;
}
