* {
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

@keyframes main_in {
  from {top: -25%; opacity: 0;}
  to {top: 50%; opacity: 1;}
}

div.main {
  animation-name: main_in;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier();
  background-color: #e9ecef;
  border-radius: .3rem;
	width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  margin-left: -400px;
	text-align: center;
}

div.main h2 {
  font-size: 25pt;
  margin-bottom: 15px;
}

div.main div.selector select {
  width: 250px;
}

div.main div.selector div.dropdown {
  display: inline-block;
  margin: 0;
}

div.main div.selector {
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}

div.inputarea {
  height: 250px;
  margin-bottom: 15px;
  padding: 25px;
}

div.stdtext {
  line-height: 200px;
}

.shake {
  animation-name: shake;
  animation-duration: 0.82s;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  animation-fill-mode: both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#copybutton {
  width: 200px;
  margin-bottom: 10px;
}
